---
layout: default
---
<div class="container" style="margin: 0;padding: 0;width: 100%;">
  <div class="main">
    <div class="header">
      <img src="{{site.baseurl}}/img/dog.jpg" alt="">
      <h2>Selvin Walter</h2>
      <p>Really like UX and Front-end design!</p>
    </div>
    <ul id="portfolio">
      <li>
        <div class="title clearfix">
         <h2>知乎</h2>
         <span>2016.04</span>
        </div>
        <div class="pic">
         <img src="{{site.baseurl}}/img/zhihu.jpg" alt="">
        </div>
        <div class="content">
          <p>It's a page copy by ZhiHu. About the frame of log has css3 animation , you can click it and see what happened .</p>
        </div>
        <div class="konwledge">
          <span class="fa fa-html5 fa-2x fa-fw"></span>
          <span class="fa fa-css3 fa-2x fa-fw"></span>
          <a href="http://htmlpreview.github.io/?https://github.com/Selvin11/front-end-learning/blob/master/20160519%E7%9F%A5%E4%B9%8E/login.html">look it</a>
        </div>
      </li>
      <li>
        <div class="title clearfix">
         <h2>DayByDay</h2>
         <span>2016.06</span>
        </div>
        <div class="pic">
         <img src="{{site.baseurl}}/img/daybyday.jpg" alt="">
        </div>
        <div class="content">
          <p>It's a simple module about record everything you want to remember.</p>
        </div>
        <div class="konwledge">
          <span class="fa fa-html5 fa-2x fa-fw"></span>
          <span class="fa fa-css3 fa-2x fa-fw"></span>
          <span class="js"><b>JS</b></span>
          <a href="http://htmlpreview.github.io/?https://github.com/Selvin11/DayByDay/blob/master/index.html">look it</a>
        </div>
      </li>
      <li>
        <div class="title clearfix">
         <h2>Nodeweb</h2>
         <span>2016.05</span>
        </div>
        <div class="pic">
         <img src="{{site.baseurl}}/img/nodeweb1.jpg" alt="">
        </div>
        <div class="content">
          <p>Node.js , Jade and Express make it that is a simple message board.</p>
        </div>
        <div class="konwledge">
          <span class="fa fa-html5 fa-2x fa-fw"></span>
          <span class="fa fa-css3 fa-2x fa-fw"></span>
          <span class="nodejs"><b>Node.js</b></span>
          <span class="js"><b>JS</b></span>
          <a href="https://github.com/Selvin11/nodeweb">look it</a>
        </div>
      </li>
      <li>
        <div class="title clearfix">
         <h2>Intro Animation</h2>
         <span>2016.04</span>
        </div>
        <div class="pic">
         <img src="{{site.baseurl}}/img/intro.jpg" alt="">
        </div>
        <div class="content">
          <p>A website page about HTML and CSS3 . It's animate all by CSS3 and you can click the bottom of page . You will see it .</p>
        </div>
        <div class="konwledge">
          <span class="fa fa-mobile fa-2x fa-fw"></span>
          <span class="fa fa-html5 fa-2x fa-fw"></span>
          <span class="fa fa-css3 fa-2x fa-fw"></span>
          <a href="http://htmlpreview.github.io/?https://github.com/Selvin11/front-end-learning/blob/master/20160508CSS3%E5%AE%9E%E7%8E%B0%E5%B9%B3%E6%BB%91%E8%BF%87%E6%B8%A1/index.html">look it</a>
        </div>
      </li>
      <li>
        <div class="title clearfix">
         <h2>2048</h2>
         <span>2016.04</span>
        </div>
        <div class="pic">
         <img src="{{site.baseurl}}/img/2048.jpg" alt="">
        </div>
        <div class="content">
          <p>A game about numbers. It is very hot in middle time.It's very easy to play that you can swipe your hand for four derection and the numbers will move by your hands. If the numbers meet and they will add together.</p>
        </div>
        <div class="konwledge">
          <span class="fa fa-mobile fa-2x fa-fw"></span>
          <span class="fa fa-html5 fa-2x fa-fw"></span>
          <span class="fa fa-css3 fa-2x fa-fw"></span>
          <span class="js"><b>JS</b></span>
          <a href="http://htmlpreview.github.io/?https://github.com/Selvin11/front-end-learning/blob/master/2048/index.html">look it</a>
        </div>
      </li>
      <li>
        <div class="title clearfix">
         <h2>enlarge and renduce</h2>
         <span>2016.04</span>
        </div>
        <div class="pic">
         <img src="{{site.baseurl}}/img/click.jpg" alt="">
        </div>
        <div class="content">
          <p>You can click the button what you want the picture's size. It has some simple JS script , but it's very useful.</p>
        </div>
        <div class="konwledge">
          <span class="fa fa-html5 fa-2x fa-fw"></span>
          <span class="fa fa-css3 fa-2x fa-fw"></span>
          <span class="js"><b>JS</b></span>
          <a href="http://htmlpreview.github.io/?https://github.com/Selvin11/front-end-learning/blob/master/20160414%E5%9B%BE%E7%89%87%E7%BC%A9%E6%94%BE%E6%A1%88%E4%BE%8B/index.html">look it</a>
        </div>
      </li>
      <li>
        <div class="title clearfix">
         <h2>QQ Mail</h2>
         <span>2016.04</span>
        </div>
        <div class="pic">
         <img src="{{site.baseurl}}/img/mail.jpg" alt="">
        </div>
        <div class="content">
          <p>It is a page about QQ Mail and simple copy.</p>
        </div>
        <div class="konwledge">
          <span class="fa fa-html5 fa-2x fa-fw"></span>
          <span class="fa fa-css3 fa-2x fa-fw"></span>
          <a href="http://htmlpreview.github.io/?https://github.com/Selvin11/front-end-learning/blob/master/20160331maildemo/mail.html">look it</a>
        </div>
      </li>
      <li>
        <div class="title clearfix">
         <h2>Fish</h2>
         <span>2016.04</span>
        </div>
        <div class="pic">
         <img src="{{site.baseurl}}/img/fish.jpg" alt="">
        </div>
        <div class="content">
          <p>A game about HTML5 and JS . It has two canvas in the view,and the fishmom feed the little fish that it can live. If it does't work,the little fish will die and game over. The game also has score function.</p>
        </div>
        <div class="konwledge">
          <span class="fa fa-html5 fa-2x fa-fw"></span>
          <span class="fa fa-css3 fa-2x fa-fw"></span>
          <span class="js"><b>JS</b></span>
          <a href="http://htmlpreview.github.io/?https://github.com/Selvin11/front-end-learning/blob/master/20160505HTML5%E5%B0%8F%E9%B1%BC%E5%8A%A8%E7%94%BB%E5%88%B6%E4%BD%9C/index.html">look it</a>
        </div>
      </li>
      <!-- <div class="more">
        <a href="">Want see more ... Please move</a>
      </div> -->
    </ul>
  </div>
</div>
<!-- duoshuo分享 -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      {% if site.duoshuo_share && site.duoshuo_username %}
      <div class="ds-share"
          style="text-align: right"
          data-thread-key="portfolio"
          data-title="portfolio"
          data-url="{{site.url}}{{site.baseurl}}{{page.url}}"
          data-images="{{ site.url }}{{site.baseurl}}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}"
          data-content="{{ content | strip_html | truncate:80 }} | {{ site.SEOTitle }} " >
          <div class="ds-share-inline">
            <ul  class="ds-share-icons-16">
              <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">分享到：</a></li>
              <li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat">微信</a></li>
              <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">微博</a></li>
              <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban">豆瓣</a></li>
            </ul>
            <div class="ds-share-icons-more">
            </div>
          </div>
      <hr>
      </div>
      <!-- 多说 Share end-->
      {% endif %}
      {% if site.duoshuo_username %}
        <!-- 多说评论框 start -->
        <div class="comment">
            <div class="ds-thread"
                data-thread-key="portfolio"
                data-title="portfolio"
                data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
            </div>
        </div>
        <!-- 多说评论框 end -->
        {% endif %}

        {% if site.disqus_username %}
        <!-- disqus 评论框 start -->
        <div class="comment">
            <div id="disqus_thread" class="disqus-thread"></div>
        </div>
        <!-- disqus 评论框 end -->
        {% endif %}
    </div>
  </div>
</div>
    

    
{% if site.duoshuo_username %}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // duoshuo账户
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}