---
layout: default
author: Selvin
---
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <!-- 微数据 -->
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
          <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
            </time>
            {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        </header>
        <!-- 内容区域 -->
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
      </article>
    </div>
    <div class="col-lg-3">
          <!-- 左侧sidebar -->
          <!-- Featured Tags -->
          {% if site.featured-tags %}
          <section>
              <!-- no hr -->
              <h5><a href="/tags/">FEATURED TAGS</a></h5>
              <!-- 标签云 -->
          <div id='tag_cloud' class="tags">
            {% for tag in site.tags %}
            <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
            {% endfor %}
          </div>
          </section>
          {% endif %}
        <!-- Short About -->
        <section class="visible-md visible-lg">
            <hr><h5><a href="{{/about/ | prepend: site.baseurl }}">ABOUT ME</a></h5>
            <div class="short-about">
                {% if site.sidebar-avatar %}
                    <img src="{{site.sidebar-avatar}}" />
                {% endif %}
                {% if site.sidebar-about-description %}
                    <p>{{site.sidebar-about-description}}</p>
                {% endif %}
                <!-- SNS Link -->
                <ul class="list-inline">
                    {% if site.RSS %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </section>
              <!-- Friends Blog -->
              {% if site.friends %}
              <hr>
              <h5>FRIENDS</h5>
              <ul class="list-inline">
                  {% for friend in site.friends %}
                      <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                  {% endfor %}
              </ul>
              {% endif %}
        </div>
  </div>
</div>